
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">{{title}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <span class="navbar-text">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li *ngIf="!isLogged" class="nav-item dropdown m-2 rounded text-dark" style="background-color: transparent !important;">
            <div class="btn-group btn-full" role="group">
              <button type="button" class="btn btn-light">
                Recuperar Contrase&ntilde;a
              </button>
              <button class="btn btn-outline-primary" type="button" (click)="changeTab('recuperar')" data-bs-toggle="modal" data-bs-target="#auth">
                <i class="fas fa-unlock-alt"></i>
              </button>
            </div>
          </li>
          <li *ngIf="isLogged" class="nav-item dropdown m-2 rounded text-dark" style="background-color: transparent !important;">
            <div class="btn-group btn-full" role="group">
              <button type="button" class="btn btn-light">
                {{_user_data.displayName}}
              </button>
              <button class="btn btn-outline-danger" type="button" (click)="logout()">
                <i class="fas fa-sign-out-alt"></i>
              </button>
            </div>
          </li>
          <li *ngIf="!isLogged" class="nav-item dropdown m-2 rounded text-dark" style="background-color: transparent !important;">
            <div class="btn-group btn-full" role="group">
              <button type="button" class="btn btn-success">
                <i class="fas fa-sign-in-alt"></i>
              </button>
              <button class="btn btn-outline-success" type="button" (click)="changeTab('login')" data-bs-toggle="modal" data-bs-target="#auth">
                Iniciar Sesi&oacute;n
              </button>
            </div>
          </li>
          <li *ngIf="!isLogged" class="nav-item dropdown m-2 rounded text-dark" style="background-color: transparent !important;">
            <div class="btn-group btn-full" role="group">
              <button type="button" class="btn btn-warning">
                <i class="fas fa-user-plus"></i>
              </button>
              <button class="btn btn-outline-warning" type="button" (click)="changeTab('registrar')" data-bs-toggle="modal" data-bs-target="#auth">
                Registrarse
              </button>
            </div>
          </li>
        </ul>
      </span>
    </div>
  </div>
</nav>

<div class="container-lg">
  <router-outlet></router-outlet>
</div>

<!-- Modal -->
<div class="modal fade" id="auth" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="authLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header pb-0 border border-bottom-0">
        <h1 class="modal-title fs-5" id="authLabel">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link" (click)="changeTab('login')" [ngClass]="{'active bg-primary text-light': tabAuth == 'login', 'text-info': tabAuth != 'login'}" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">
                <ng-container *ngIf="tabAuth != 'login'; else texto_1">
                  <i class="fas fa-sign-in-alt"></i>
                </ng-container>
                <ng-template #texto_1>
                  Iniciar Sesi&oacute;n
                </ng-template>
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" (click)="changeTab('registrar')" [ngClass]="{'active bg-primary text-light': tabAuth == 'registrar', 'text-info': tabAuth != 'registrar'}" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">
                <ng-container *ngIf="tabAuth != 'registrar'; else texto_2">
                  <i class="fas fa-user-plus"></i>
                </ng-container>
                <ng-template #texto_2>
                  Registrarse
                </ng-template>
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" (click)="changeTab('recuperar')" [ngClass]="{'active bg-primary text-light': tabAuth == 'recuperar', 'text-info': tabAuth != 'recuperar'}" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">
                <ng-container *ngIf="tabAuth != 'recuperar'; else texto_3">
                  <i class="fas fa-unlock-alt"></i>
                </ng-container>
                <ng-template #texto_3>
                  Recuperar Contrase&ntilde;a
                </ng-template>
              </button>
            </li>
          </ul>
        </h1>
        <button id="modalLoginRegister" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <div class="tab-content">

              <!-- LOGIN -->
              <div class="tab-pane fade" [ngClass]="{'active show': tabAuth == 'login'}" id="home-tab"  id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                <form class="row g-3 needs-validation mb-4" novalidate [formGroup]="_loginFormGroup">
                  <label for="email_login show-input-mobile mt-5">
                    Correo Electr&oacute;nico/Usuario
                  </label>
                  <div class="input-group mb-3 has-validation">
                    <span class="input-group-text bg-primary text-light hide-input-mobile">
                      <i class="fas fa-at"></i>
                    </span>
                    <input id="email-login" type="text" class="form-control" placeholder="Correo Electrónico/Usuario" name="email" formControlName="email" [ngClass]="{'is-invalid': _loginFormGroup.get('email')!.errors != null && _loginFormGroup.get('email')!.touched}">
                    <span class="input-group-text bg-primary text-light">
                      <i class="fas fa-envelope"></i>
                    </span>
                    <div class="invalid-feedback" *ngIf="_loginFormGroup.get('email')!.errors != null && _loginFormGroup.get('email')!.touched">
                      <small>
                        <span class="text-danger">
                          Is required
                        </span>
                      </small>
                    </div>
                  </div>
                  <label for="email_login show-input-mobile mt-3">
                    Contrase&ntilde;a
                  </label>
                  <div class="input-group mb-3">
                    <span class="input-group-text bg-primary text-light hide-input-mobile">
                      <i class="fas fa-lock"></i>
                    </span>
                    <input [type]="_loginForm_show_password ? 'text' : 'password'" class="form-control" placeholder="Contraseña" aria-label="Password" formControlName="password" name="password" [ngClass]="{'is-invalid': _loginFormGroup.get('password')!.errors != null && _loginFormGroup.get('password')!.touched}">
                    <span class="input-group-text bg-primary text-light" role="button" (click)="change_loginForm_show_password(true)" *ngIf="_loginForm_show_password == false;">
                      <i class="fas fa-eye"></i>
                    </span>
                    <span class="input-group-text bg-primary text-light" role="button" (click)="change_loginForm_show_password(false)" *ngIf="_loginForm_show_password;">
                      <i class="fas fa-eye-slash"></i>
                    </span>
                    <div class="invalid-feedback" *ngIf="_loginFormGroup.get('password')!.errors != null && _loginFormGroup.get('password')!.touched">
                      <small>
                        <span class="text-danger">
                          Is required
                        </span>
                      </small>
                    </div>
                  </div>
                  <div class="d-flex mt-0 mt-4 mb-4 justify-content-center">
                    <!-- <div class="form-check form-switch flex-grow-1">
                      <input class="form-check-input" type="checkbox" role="switch" id="rememberSwitchCheck">
                      <label class="form-check-label" for="rememberSwitchCheck">¡Remember Me!</label>
                    </div> -->
                    <a (click)="changeTab('recuperar')" role="button" class="link-dark link-offset-2 link-opacity-50 link-opacity-100-hover link-underline-opacity-10">
                      ¿Olvidaste tu Contrase&ntilde;a?
                    </a>
                  </div>
                  <div class="d-grid gap-2 col-12 mx-auto">
                    <button class="btn bg-header-card text-light" type="button"  [disabled]="_loginForm_loading" (click)="login()" onclick="onClickBtn(event)">
                      <div class="spinner-border" role="status" *ngIf="_loginForm_loading">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                      <ng-container *ngIf="_loginForm_loading == false">
                        <i class="fas fa-lock"></i>
                      </ng-container>
                      &nbsp;&nbsp;Iniciar Sesi&oacute;n
                    </button>
                  </div>
                </form>
              </div>
              <!-- LOGIN -->

              <!-- REGISTRARSE -->
              <div class="tab-pane fade" [ngClass]="{'active show': tabAuth == 'registrar'}" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                <form class="row g-3 needs-validation mb-4" novalidate [formGroup]="_registerFormGroup">
                  <label for="email_login show-input-mobile mt-3">
                    Nombre(s)
                  </label>
                  <div class="input-group mb-3">
                    <span class="input-group-text bg-primary text-light">
                      <i class="far fa-id-card"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="Nombre(s)" name="name" formControlName="name" [ngClass]="{'is-invalid': _registerFormGroup.get('name')!.errors != null && _registerFormGroup.get('name')!.touched}">
                    <div class="invalid-feedback" *ngIf="_registerFormGroup.get('name')!.errors != null && _registerFormGroup.get('name')!.touched">
                      <small>
                        <span class="text-danger">
                          Is required
                        </span>
                      </small>
                    </div>
                  </div>
                  <label for="email_login show-input-mobile mt-3">
                    Apellido(s)
                  </label>
                  <div class="input-group mb-3">
                    <span class="input-group-text bg-primary text-light">
                      <i class="far fa-id-card"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="Apellido(s)" name="lastName" formControlName="lastName" [ngClass]="{'is-invalid': _registerFormGroup.get('lastName')!.errors != null && _registerFormGroup.get('lastName')!.touched}">
                    <div class="invalid-feedback" *ngIf="_registerFormGroup.get('lastName')!.errors != null && _registerFormGroup.get('lastName')!.touched">
                      <small>
                        <span class="text-danger">
                          Is required
                        </span>
                      </small>
                    </div>
                  </div>
                  <label for="email_login show-input-mobile mt-3">
                    Usuario
                  </label>
                  <div class="input-group mb-3">
                    <span class="input-group-text bg-primary text-light">
                      <i class="far fa-id-badge"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="Usuario" name="user" formControlName="user" [ngClass]="{'is-invalid': _registerFormGroup.get('user')!.errors != null && _registerFormGroup.get('user')!.touched}">
                    <div class="invalid-feedback" *ngIf="_registerFormGroup.get('user')!.errors != null && _registerFormGroup.get('user')!.touched">
                      <small>
                        <span class="text-danger">
                          Is required
                        </span>
                      </small>
                    </div>
                  </div>
                  <label for="email_login show-input-mobile mt-3">
                    Correo Electr&oacute;nico
                  </label>
                  <div class="input-group mb-3">
                    <span class="input-group-text bg-primary text-light hide-input-mobile">
                      <i class="fas fa-at"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="Correo Electrónico" name="email" formControlName="email" [ngClass]="{'is-invalid': _registerFormGroup.get('email')!.errors != null && _registerFormGroup.get('email')!.touched}">
                    <span class="input-group-text bg-primary text-light">
                      <i class="fas fa-envelope"></i>
                    </span>
                    <div class="invalid-feedback" *ngIf="_registerFormGroup.get('email')!.errors != null && _registerFormGroup.get('email')!.touched">
                      <small>
                        <span class="text-danger">
                          Is required
                        </span>
                      </small>
                    </div>
                  </div>
                  <label for="email_login show-input-mobile mt-3">
                    Contrase&ntilde;a
                  </label>
                  <div class="input-group mb-3">
                    <span class="input-group-text bg-primary text-light hide-input-mobile">
                      <i class="fas fa-lock"></i>
                    </span>
                    <input [type]="_registerForm_show_password ? 'text' : 'password'" class="form-control" placeholder="Contraseña" aria-label="Password" formControlName="password" name="password" [ngClass]="{'is-invalid': _registerFormGroup.get('password')!.errors != null && _registerFormGroup.get('password')!.touched}">
                    <span class="input-group-text bg-primary text-light" role="button" (click)="change_registerForm_show_password(true)" *ngIf="_registerForm_show_password == false;">
                      <i class="fas fa-eye"></i>
                    </span>
                    <span class="input-group-text bg-primary text-light" role="button" (click)="change_registerForm_show_password(false)" *ngIf="_registerForm_show_password;">
                      <i class="fas fa-eye-slash"></i>
                    </span>
                    <div class="invalid-feedback" *ngIf="_registerFormGroup.get('password')!.errors != null && _registerFormGroup.get('password')!.touched">
                      <small>
                        <span class="text-danger">
                          Is required
                        </span>
                      </small>
                    </div>
                  </div>
                  <label for="email_login show-input-mobile mt-3">
                    Confirmar Contrase&ntilde;a
                  </label>
                  <div class="input-group mb-5">
                    <span class="input-group-text bg-primary text-light hide-input-mobile">
                      <i class="fas fa-lock"></i>
                    </span>
                    <input [type]="_registerForm_show_repeat_password ? 'text' : 'password'" class="form-control" placeholder="Confirmar Contraseña" aria-label="Confirm Password" formControlName="repeat_password" name="repeat_password" [ngClass]="{'is-invalid': _registerFormGroup.get('repeat_password')!.errors != null && _registerFormGroup.get('repeat_password')!.touched}">
                    <span class="input-group-text bg-primary text-light" role="button" (click)="change_registerForm_show_repeat_password(true)" *ngIf="_registerForm_show_repeat_password == false;">
                      <i class="fas fa-eye"></i>
                    </span>
                    <span class="input-group-text bg-primary text-light" role="button" (click)="change_registerForm_show_repeat_password(false)" *ngIf="_registerForm_show_repeat_password;">
                      <i class="fas fa-eye-slash"></i>
                    </span>
                    <div class="invalid-feedback" *ngIf="_registerFormGroup.get('repeat_password')!.errors != null && _registerFormGroup.get('repeat_password')!.touched">
                      <small>
                        <span class="text-danger">
                          Is required
                        </span>
                      </small>
                    </div>
                  </div>
                  <div class="d-flex mt-0 mt-4 mb-4 justify-content-center">
                    <re-captcha (resolved)="resolved($event)"
                        formControlName="recaptchaReactive"
                        siteKey="6LeJNAwqAAAAAN6j4G5tBho07gAE1jfxcspunSh6">
                    </re-captcha>
                  </div>
                  <div class="alert alert-danger d-flex align-items-center text-wrap" role="alert" *ngIf="_registerForm_error && _registerForm_error_message">
                    <span class="material-icons-outlined">
                      warning
                    </span>
                    <div>
                      &nbsp;{{_registerForm_error_message}}
                    </div>
                  </div>
                  <div class="d-grid gap-2 col-12 mx-auto">
                    <button class="btn bg-header-card text-light" type="button"  [disabled]="_registerForm_loading || !_valid_captcha || _registerFormGroup.get('recaptchaReactive')!.errors " (click)="register()">
                      <div class="spinner-border" role="status" *ngIf="_registerForm_loading">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                      <ng-container *ngIf="_registerForm_loading == false">
                        <i class="fas fa-lock"></i>
                      </ng-container>
                      &nbsp;&nbsp;Registrarse
                    </button>
                  </div>
                  <div class="alert alert-danger d-flex align-items-center text-wrap" role="alert" *ngIf="_registerForm_error && _registerForm_error_message">
                    <span class="material-icons-outlined">
                      warning
                    </span>
                    <div>
                      &nbsp;{{_registerForm_error_message}}
                    </div>
                  </div>
                </form>
              </div>
              <!-- REGISTRARSE -->

              <!-- RECUPERAR -->
              <div class="tab-pane fade" [ngClass]="{'active show': tabAuth == 'recuperar'}" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
                <form class="row g-3 needs-validation" novalidate [formGroup]="_resetPasswordFormGroup">
                  <label for="email_login show-input-mobile mt-3">
                    Correo Electr&oacute;nico
                  </label>
                  <div class="input-group mt-3 mb-5">
                    <span class="input-group-text bg-primary text-light hide-input-mobile">
                      <i class="fas fa-unlock-alt"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="Correo Electrónico" name="email" formControlName="email" [ngClass]="{'is-invalid': _resetPasswordFormGroup.get('email')!.errors != null && _resetPasswordFormGroup.get('email')!.touched}">
                    <span class="input-group-text bg-primary text-light">
                      <i class="fas fa-envelope"></i>
                    </span>
                    <div class="invalid-feedback" *ngIf="_resetPasswordFormGroup.get('email')!.errors != null && _resetPasswordFormGroup.get('email')!.touched">
                      <small>
                        <span class="text-danger">
                          Is required
                        </span>
                      </small>
                    </div>
                  </div>
                  <div class="alert alert-danger d-flex align-items-center text-wrap" role="alert" *ngIf="_resetPasswordForm_error && _resetPasswordForm_error_message">
                    <span class="material-icons-outlined">
                      warning
                    </span>
                    <div>
                      &nbsp;{{_resetPasswordForm_error_message}}
                    </div>
                  </div>
                  <div class="d-grid gap-2 col-12 mx-auto mb-4">
                    <button [disabled]="_resetPasswordForm_loading" class="btn bg-header-card text-light" type="button" (click)="sendResetPassword()">
                      <div class="spinner-border" role="status" *ngIf="_resetPasswordForm_loading">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                      <ng-container *ngIf="_resetPasswordForm_loading == false">
                        <i class="fas fa-lock"></i>
                      </ng-container>
                      &nbsp;&nbsp;Recuperar Contraseña
                    </button>
                  </div>
                </form>
              </div>
              <!-- RECUPERAR -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>