
<div class="card shadow-sm">
  <div class="property-item rounded overflow-hidden">
    <div class="position-relative overflow-hidden">
      <div class="container-img border rounded">
        <img class="img-fluid pic-img" [src]="_dataPost.snippet.thumbnails.high.url ? _dataPost.snippet.thumbnails.high.url :defaultImg" alt="{{_dataPost.snippet.title}}"
        width="{{_dataPost.snippet.thumbnails.high.width}}">
      </div>
      <div class="rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
        <button *ngIf="_favorito" type="button" class="btn bg-header-card text-light m-2 border-1 shadow-sm fs-6 p-2" (click)="deleteFavorite(_dataPost.id.videoId)">
          <i class="fas fa-star fs-2 text-warning"></i>
        </button>
        <button *ngIf="!_favorito" type="button" class="btn bg-header-card text-light m-2 border-1 shadow-sm fs-6 p-2" (click)="createFavorite(_dataPost.id.videoId)">
          <i class="far fa-star fs-2"></i>
        </button>
      </div>
      <div class="bg-white rounded-top bg-header-text position-absolute start-0 bottom-0 mx-4 pt-1 px-3 fw-bold">
        {{_dataPost.snippet.publishTime | date}}
      </div>
    </div>
    <div class="p-4 pb-0">
      <a class="d-block h5 mb-2 text-truncate bg-header-text" style="width: 90%;">{{_dataPost.snippet.title}}</a>
      Channel:
      <button type="button" class="btn bg-header-card text-light m-2 border-1 shadow-sm fs-6 p-2">
        &nbsp;"{{_dataPost.snippet.channelTitle}}"
      </button>
      <br>
      <div class="row text-center mb-4">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapseDescription'+_dataPost.id.videoId" aria-expanded="false">
          Descripción
        </button>
      </div>
      <div>
        <div class="collapse collapse-vertical" id="collapseDescription{{_dataPost.id.videoId}}">
          <div class="card card-body">
            {{_dataPost.snippet.description??"No description"}}
          </div>
        </div>
      </div>
      <br>
    </div>
    <!-- <div class="card-footer text-center">
      <div class="btn btn-warning" [routerLink]="['', 1]"
      routerLinkActive="router-link-active">Ver vídeo</div>
    </div> -->
  </div>
</div>